/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: #414141;
    padding: 15px;
    z-index: 99;
}
.logo {

    font-size: 1.8rem;
    padding: 20px 0 0 30px;
    font-weight: bold;
    color: #0040ff;
}
.sidebar a {
    display: flex;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
}
.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
    display: none;
}
.menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
}
.submenu-active .menu-items {
    transform: translateX(-56%);
}
.menu-title {
    color: #fff;
    font-size: 1.3rem;
    padding: 15px 20px;
}
.item a,
.submenu-item {
    display: flex;
    outline: none;
    padding: 16px;
    /* display: inline-block; */
    width: 100%;
    border-radius: 12px;
}
.item i {
    font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
    background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background: #11101d;
    display: none;
}
.show-submenu ~ .submenu {
    display: block;
}
.submenu .menu-title {
    border-radius: 12px;
    cursor: pointer;
}
.submenu .menu-title i {
    margin-right: 10px;
}
.navbar,
.main {
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
    left: 0;
    width: 100%;
}
.navbar {
    display: flex;
    position: fixed;
    color: #fff;
    height: 80px;
    padding: 15px 20px;
    font-size: 25px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background: #002fff;
    cursor: pointer;
}
.navbar p{
    font-size: 1rem;

}
.navbar #sidebar-close {
    cursor: pointer;
}

.box-admin{
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
 
    /* background-color: #992222; */
}
.box-admin p{
    display: flex;
    margin-right: 10px;
    font-size: .7rem;
    padding-top: 15px;
 
}
.admin .user-type{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: right;

}
.admin .user-type p{
   
    font-size: .8rem;
   margin-top: 10px;
}

.main h1 {
    color: #11101d;
    font-size: 40px;
    text-align: center;
}

.logout {
    color: #fff;
    display: flex;
    margin-top: 60px;
    font-size: 1.1rem;
    padding: 15px 20px;
    font-weight: 700;
    background-color: #4070f4;
  }

  .main {
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 100;
    background-color: #ffffff;

}


.main .data{
    width: 100%;
    height: 200px;
    background-color: rgb(50, 50, 50);
}
.main .data-user{
    width: 100%;
    padding: 20px;
    height: 100vh;
  
    /* display: none; */
   /* display: flex; */
    margin-top: -25px;
    background-color: #515151;
}